* {
  font-family: Verdana;
  background-color: black;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

.download_link {
  font-size: 16px;
  color: Aquamarine;
  text-align: center;
}

img {
  align-content: center;
}
